APP_BASE_URL=http://localhost:8080

MONGODB_URI=mongodb+srv://elyeslaaribii_db_user:AFE9UChRMeVANPeP@cluster0.u0ra6ki.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=renault_rdv
BACKEND_SEED_TOKEN=change-me-long-random-value

KEYCLOAK_ISSUER_URL=https://keycloak.example.com/realms/renault
KEYCLOAK_REALM=renault
KEYCLOAK_CLIENT_ID=renault-rdv-web
KEYCLOAK_CLIENT_SECRET=change-me
KEYCLOAK_REDIRECT_URI=http://localhost:8080/auth/callback
KEYCLOAK_POST_LOGOUT_REDIRECT_URI=http://localhost:8080/
